@tailwind base;
@tailwind components;
@tailwind utilities;

.main-color-text{
    color: #EC5082;
}
.sec-color-text{
    color: #BAD650;
}

.main-color-bg{
    background-color: #EC5082;
}
.main-color-bg:hover{
    background-color: #ec50818d;
}

.sec-color-bg{
    background-color: #BAD650;
}

